:root {
  --primary-color: #F2E7D5;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --error-color: #dc3545;
  --background-color: #212121;
  --highlight-color: #E9C46A;
  
  --primary-font: 'Helvetica', 'Arial', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
  color: var(--primary-color);
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
}

.text-caret::after,
.text-caret-first::before {
  content: '';
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 2.5rem;
  top: 3px;
  width: 3px;
  background-color: var(--highlight-color);
}

.text-caret-first::before {
  right: 3px;
}

.text-correct {
  color: var(--success-color);
}

.text-error {
  color: var(--error-color);
}

.text-highlight {
  color: var(--highlight-color);
} 